{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <h1>{% trans "Your Cart" %}</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% trans "Product Name" %}</th>
          <th scope="col">{% trans "Quantity" %}</th>
          <th scope="col">{% trans "Unit Cost" %}</th>
          <th scope="col">{% trans "Cost" %}</th>
          
        </tr>
      </thead>
      <tbody>
        <!-- Example product in the cart -->
        
      
       {% for item in cart %} 

          <tr id="{{ item.product.id }}">
            <td>{{ item.product }}</td>
            <td>
            {{ item.quantity }}
            </td>
            
            <td>
              {{ item.product.price }}
            </td>
            <td>
                {{ item.total_price }}
            </td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="m-3 m-md-5">

    </div>
    <div class="d-grid gap-2 col-3 mx-auto ">
      <a href="{% url 'orders:create_order' %}"><button class="btn btn-primary" type="button"><strong>{% trans "Checkout" %}</strong></button></a>
    </div>
  </div>
{% endblock content %}